html {
  font-size: 22px;
}

.page-title {
  font-size: 3rem;
  text-align: center;

  /* your code here */
  position: fixed;
  top: 50px;
  left: 50%;
  transform: translate(-50%); /* <-- Too Soon? Is this cheating lol? Better way to do this?? */
}
